<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button slot="start"></ion-back-button>
        <ion-title>FAQs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-searchbar (ionInput)="dataSource.data" (keyup)="applyFilter($event.target.value)" mode="ios" animated
                   showCancelButton="always"></ion-searchbar>
    <mat-accordion>

        <mat-expansion-panel datasrc="faqData" *ngFor="let faq of filterData">
            <mat-expansion-panel-header>
                {{faq.question}}
            </mat-expansion-panel-header>

            {{faq.answer}}

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                This is the expansion 2 title
            </mat-expansion-panel-header>

            This the expansion 2 content

        </mat-expansion-panel>

    </mat-accordion>

</ion-content>
