<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button slot="start"></ion-back-button>
        <ion-title>Personal Information</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div *ngIf="userData">

        <ion-card>
            <ion-card-header>

                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>{{userData.displayName}}<ion-icon name="create" (click)="onClickEdit()"></ion-icon></ion-card-title>

            </ion-card-header>

            <ion-card-content>
                <p>Address:</p>
                {{userData.houseNumber}}
                {{userData.street}}
                {{userData.city}}
                {{userData.state}}
                {{userData.zipCode}}
                {{userData.country}}
                <p>Email:</p>
                {{userData.email}}
                <p>Phone:</p>
                {{userData.phone}}
                <p>Emergency Contact -</p>
                Name: {{userData.emergencyName}}
                <br>
                Phone: {{userData.emergencyNumber}}




            </ion-card-content>
        </ion-card>




    </div>


</ion-content>
