<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            User Details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Filters
        </mat-expansion-panel-header>
        <ion-label>
            <ion-checkbox [(ngModel)]="graduateCheckbox"></ion-checkbox>
            Graduate
        </ion-label>
        <ion-label>
            <ion-checkbox [(ngModel)]="undergraduateCheckbox"></ion-checkbox>
            Undergraduate
        </ion-label>


        <ion-list>
            <ion-list-header>Advanced Filters</ion-list-header>

            <ion-item>
                <ion-label>Subjects</ion-label>
                <ion-select multiple="true" cancelText="Cancel" okText="Okay!" [(ngModel)]="departmentList">
                    <ion-select-option value="cs">Computer Science</ion-select-option>
                    <ion-select-option value="swe">Software Engineering</ion-select-option>
                    <ion-select-option value="isa">Information Security Assurance</ion-select-option>
                    <ion-select-option value="infs">Information Systems</ion-select-option>
                    <ion-select-option value="acct">Accounting</ion-select-option>
                    <ion-select-option value="math">Mathematics</ion-select-option>
                    <ion-select-option value="law">LAW</ion-select-option>
                    <ion-select-option value="game">Computer Game Design</ion-select-option>
                    <ion-select-option value="latin">Latin</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Instructor</ion-label>
                <ion-select multiple="true" [(ngModel)]="instructorList">
                    <ion-select-option value="Michael Patrick Neary" selected>Michael Patrick Neary</ion-select-option>
                    <ion-select-option value="Harold M Greenwald">Harold M Greenwald</ion-select-option>
                    <ion-select-option value="Ivan Avramovic" selected>Ivan Avramovic</ion-select-option>
                    <ion-select-option value="Shvetha Soundararajan">Shvetha Soundararajan</ion-select-option>
                    <ion-select-option value="Robert G Kurtz">Robert G Kurtz</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Term</ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="term">
                    <ion-select-option value="spring20">Spring 2020</ion-select-option>
                    <ion-select-option value="fall19">Fall 2019</ion-select-option>
                    <ion-select-option value="spring19">Spring 2019</ion-select-option>
                    <ion-select-option value="fall18">Fall 2018</ion-select-option>
                    <ion-select-option value="spring18">Spring 2018</ion-select-option>
                    <ion-select-option value="fall17">Fall 2017</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>


        <mat-action-row>
            <ion-button fill="outline" mat-button (click)="resetFilters();updatePreferences();closePanel()">Reset Filters</ion-button>&nbsp;&nbsp;
            <ion-button fill="outline" mat-button (click)="customFilter();updatePreferences();closePanel()">Apply</ion-button>
        </mat-action-row>
    </mat-expansion-panel>

    <!--<mat-form-field>
        <label>
            <ion-searchbar animated showCancelButton="always"></ion-searchbar>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </label>
    </mat-form-field>-->

    <ion-searchbar (keyup)="applyFilter($event.target.value)" mode="ios" animated showCancelButton="always"></ion-searchbar>

    <div class="example-container mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Course ID Column -->
            <ng-container matColumnDef="course" sticky>
                <th mat-header-cell [mat-sort-header] *matHeaderCellDef> Course</th>
                <td mat-cell *matCellDef="let element"> {{element.department}} {{element.courseNumber}} </td>
            </ng-container>

            <!-- Course Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell [mat-sort-header] *matHeaderCellDef> Course Name</th>
                <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
            </ng-container>

            <!-- Instructor Column -->
            <ng-container matColumnDef="instructor">
                <th mat-header-cell [mat-sort-header] *matHeaderCellDef> Instructor</th>
                <td mat-cell *matCellDef="let element"> {{element.instructor}} </td>
            </ng-container>

            <!-- Day Column -->
            <ng-container matColumnDef="time">
                <th mat-header-cell [mat-sort-header] *matHeaderCellDef> Time</th>
                <td mat-cell *matCellDef="let element"> {{element.day}} {{element.time}} </td>
            </ng-container>

            <!-- Location Column -->
            <ng-container matColumnDef="location">
                <th mat-header-cell [mat-sort-header] *matHeaderCellDef> Location</th>
                <td mat-cell *matCellDef="let element"> {{element.location}} </td>
            </ng-container>

            <!-- Term Column -->
            <ng-container matColumnDef="term">
                <th mat-header-cell [mat-sort-header] *matHeaderCellDef> Term</th>
                <td mat-cell *matCellDef="let element"> {{element.term}} </td>
            </ng-container>

            <!-- Active Column -->
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef> Active</th>
                <td mat-cell *matCellDef="let element">{{element.active}}/{{element.capacity}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickCourse(row)"></tr>
        </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</ion-content>
