<ion-header>
    <ion-toolbar>
        <ion-title>
            User Details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Filters
        </mat-expansion-panel-header>
        <ion-label>
            <ion-checkbox [(ngModel)]="graduateCheckbox"></ion-checkbox>
            Graduate
        </ion-label>
        <ion-label>
            <ion-checkbox [(ngModel)]="undergraduateCheckbox"></ion-checkbox>
            Undergraduate
        </ion-label>


        <ion-list>
            <ion-list-header>Advanced Filters</ion-list-header>

            <ion-item>
                <ion-label>Subjects</ion-label>
                <ion-select multiple="true" cancelText="Cancel" okText="Okay!">
                    <ion-select-option value="cs">Computer Science</ion-select-option>
                    <ion-select-option value="swe">Software Engineering</ion-select-option>
                    <ion-select-option value="isa">Information Security Assurance</ion-select-option>
                    <ion-select-option value="infs">Information Systems</ion-select-option>
                    <ion-select-option value="acct">Accounting</ion-select-option>
                    <ion-select-option value="math">Mathematics</ion-select-option>
                    <ion-select-option value="law">LAW</ion-select-option>
                    <ion-select-option value="game">Computer Game Design</ion-select-option>
                    <ion-select-option value="latin">Latin</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Instructor</ion-label>
                <ion-select multiple="true">
                    <ion-select-option value="mneary" selected>Michael Patrick Neary</ion-select-option>
                    <ion-select-option value="hgreenwald">Harold M Greenwald</ion-select-option>
                    <ion-select-option value="iavramovic" selected>Ivan Avramovic</ion-select-option>
                    <ion-select-option value="ssoundararajan">Shvetha Soundararajan</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Term</ion-label>
                <ion-select placeholder="Select One">
                    <ion-select-option value="spring20">Spring 2020</ion-select-option>
                    <ion-select-option value="fall19">Fall 2019</ion-select-option>
                    <ion-select-option value="spring20">Spring 2019</ion-select-option>
                    <ion-select-option value="fall19">Fall 2018</ion-select-option>
                    <ion-select-option value="spring20">Spring 2018</ion-select-option>
                    <ion-select-option value="fall19">Fall 2017</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>


        <mat-action-row>
            <button mat-button (click)="customFilter()">Apply!</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-form-field>
        <label>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </label>
    </mat-form-field>

    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Course ID Column -->
        <ng-container matColumnDef="course" sticky>
            <th mat-header-cell [mat-sort-header] *matHeaderCellDef> Course</th>
            <td mat-cell *matCellDef="let element"> {{element.department}} {{element.courseNumber}} </td>
        </ng-container>

        <!-- Course Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell [mat-sort-header] *matHeaderCellDef> Course Name</th>
            <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
        </ng-container>

        <!-- Instructor Column -->
        <ng-container matColumnDef="instructor">
            <th mat-header-cell [mat-sort-header] *matHeaderCellDef> Instructor</th>
            <td mat-cell *matCellDef="let element"> {{element.instructor}} </td>
        </ng-container>

        <!-- Day Column -->
        <ng-container matColumnDef="time">
            <th mat-header-cell [mat-sort-header] *matHeaderCellDef> Time</th>
            <td mat-cell *matCellDef="let element"> {{element.day}} {{element.time}} </td>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location" stickyEnd>
            <th mat-header-cell [mat-sort-header] *matHeaderCellDef> Location</th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</ion-content>
