<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start"></ion-back-button>
        <ion-title>course</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p text-justify *ngIf="course">Time Conflict | {{course.day}} {{course.time}}</p>
    <p text-justify *ngIf="course">This course conflicts with the course {{course.courseName}}
        ({{course.department}} {{course.courseNumber}}) on {{course.day}} at {{course.time}}</p>

    <p *ngIf="course">Click the button below to drop {{course.department}} {{course.courseNumber}} and register for
        {{course.courseName}} ({{currentCourse.department}} {{currentCourse.courseNumber}})</p>

    <ion-button *ngIf="!registered" (click)="register()">Register</ion-button>
    <ion-button *ngIf="registered" (click)="unregister()">Unregister</ion-button>

</ion-content>
