<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button slot="start"></ion-back-button>
        <ion-title>
            Registration
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngIf="currentCourse">
        <ion-card-subtitle>{{currentCourse.department}} {{currentCourse.courseNumber}}</ion-card-subtitle>
        <ion-card-title>{{currentCourse.courseName}}</ion-card-title>
        <ion-card-content text-justify>
            <p>Time: {{currentCourse.day}} {{currentCourse.time}}</p>
            <p>Location: {{currentCourse.location}}</p>
            <br>
            <p>{{currentCourse.description}}</p>
        </ion-card-content>
    </ion-card>

    <p text-justify *ngIf="course && conflict">Time Conflict | {{course.day}} {{course.time}} with {{course.courseName}}
        ({{course.department}} {{course.courseNumber}})</p>

    <ion-button *ngIf="conflict && course" (click)="dropConflictCourse(course)">
        Drop {{course.department}} {{course.courseNumber}}</ion-button>

    <ion-button *ngIf="!registered && !conflict && currentCourse" (click)="register()">Register
        for {{currentCourse.department}} {{currentCourse.courseNumber}}</ion-button>

    <ion-button *ngIf="registered && currentCourse" (click)="drop()">
        Drop {{currentCourse.department}} {{currentCourse.courseNumber}}</ion-button>

</ion-content>
