<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button id="day" (click)="changeMode('day')">Day</ion-button>
    <ion-button id="week" (click)="changeMode('week')">Week</ion-button>
    <ion-button id="month" (click)="changeMode('month')">Month</ion-button>
    <calendar [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
              startHour="8"
              endHour="23"
              step="30">

        <!--(onCurrentDateChanged)="onCurrentDateChanged($event)"
                  (onRangeChanged)="reloadSource(startTime, endTime)"
                  (onEventSelected)="onEventSelected($event)"
                  (onTitleChanged)="onViewTitleChanged($event)"
                  (onTimeSelected)="onTimeSelected($event)"-->

    </calendar>

</ion-content>
