<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Settings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="logout()">Logout</ion-button>
    <ion-button (click)="onClickFAQ()">FAQs</ion-button>
    <ion-button (click)="onClickPersonalInformation()">Personal Information</ion-button>

    <ion-list>
        <ion-item lines="full">
            <ion-icon name="person"></ion-icon>
            <ion-label>
                Personal Information
            </ion-label>
        </ion-item>
        <ion-item lines="full">
            <ion-icon name="repeat"></ion-icon>
            <ion-label>
                Change Default Term
            </ion-label>
        </ion-item>
        <ion-item lines="full">
            <ion-icon name="help-buoy"></ion-icon>
            <ion-label>
                Support
            </ion-label>
        </ion-item>
        <ion-item lines="full">
            <ion-icon name="help"></ion-icon>
            <ion-label>
                FAQ
            </ion-label>
        </ion-item>
        <ion-item lines="full">
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>
                Toggle Dark Theme
            </ion-label>
            <ion-toggle (ionChange)="onDarkModeToggle($event)" id="themeToggle" slot="end"></ion-toggle>
        </ion-item>
        <ion-item lines="full">
            <ion-icon name="paper"></ion-icon>
            <ion-label>
                Terms & Conditions
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>
