ion-icon {
  padding-right: 4px;
  margin-right: 4px;
}

.angleRightIcon {
  margin-left: 48%;
  font-size: large;
  color: #7d7d7d;
}

.angleRightIconFAQ{
  margin-left: 82%;
  font-size: large;
  color: #7d7d7d;
}
