<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Login!</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-input class="un" align="center" placeholder="username" id="login-username" [(ngModel)]="username"></ion-input>
    <ion-input class="pass" align="center" type="password" placeholder="password" id="login-password"
               [(ngModel)]="password"></ion-input>
    <ion-button expand="full" (click)="login()" id="login-button">Log in</ion-button>
    <p *ngIf="showError">Incorrect username or password!</p>
    <!--<ion-button align="center" (click)="navCtrl.navigateForward('/tabs/tab2')">Debug Continue</ion-button>-->
</ion-content>
