<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="loginform">
        <ion-input class="un" align="center" placeholder="username" id="login-username"
                   [(ngModel)]="username"></ion-input>
        <ion-input class="pass" align="center" type="password" placeholder="password" id="login-password"
                   [(ngModel)]="password"></ion-input>
        <ion-button expand="full" (click)="login()" id="login-button">Log in</ion-button>
    </div>
</ion-content>
